BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup
NamespaceIndentation: Inner
IndentPPDirectives: BeforeHash